</div>
</div>
<section>
  <div class="p-3 mb-0 text-white footer-color" >
    <div class="container footer-container">
    <div class="row end-footer" >
      <div class="col-md-4" >
        <div class="container text-start contact-us" >
          
          <h3 class="contact-us-text-1">Contact us </h3>
          <h6 class="contact-us-text-2">We would love to hear from you!</h6>
          <h6  class="contact-us-text-2">Say hello@Kredily.com</h6>
          <h3 class="contact-us-text-1">Follow us </h3>
          <div class="container">
            <div class="row">
              
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-linkedin"></a>
              
            </div>
          </div>
        
        </div>
        

      </div>
      <div class="col-md-8" >
        <div class="container contact-address">
          <div class="row address-details" >  
            <div class="container address-text">
            <p class="address-text-footer">Kredily, 434, JR Arcade, 1st Floor, 17th Cross Road, Sector 4 HSR Layout Bengaluru, Karnataka <br> 080 4709 2710</p>
          </div>
          </div>
          <div class="row" >
            <div class="container">
              <h2 class="contact-us-address">Features</h2>
            
              <a href="#" class="footer-link">Payroll</a><br>
              <a href="#" class="footer-link">Leave and Attendance</a><br>
              <a href="#" class="footer-link">Manage Employees</a><br>
              <a href="#" class="footer-link">Greet-video Conferencing</a><br>
              <a href="#" class="footer-link">Reach-Char and Collaboration</a><br>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section> 